<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="card">
        <div class="text-center">
          <h3>Add your review</h3>
          <p><%= link_to "Go back", restaurant_path(@restaurant) %></p>
        </div>
        <div>
          <%= simple_form_for([@restaurant, @review]) do |f| %>
            <%= f.error_notification %>

            <%= f.input :content, label: "Your comment" %>
            <%= f.input :rating, collection: 0..5 %>

            <%= f.button :submit, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
